<div id="contacte" class="aura-two-column">
  <div class="aura-column aura-column--lavanda">
    <p><span class="aura-label">{{ 'CONNECT'|t }}</span></p>
    <h2>{{ "Let's talk! Book a free consultation"|t }}</h2>
    <h3>{{ 'Get ahead with AI today'|t }}</h3>
  </div>
  <div class="aura-column aura-column--light aura-column--centered">
    {{ drupal_entity('webform', 'contact') }}
  </div>
</div>