<div id="contacte" class="aura-two-column">
  <div class="aura-column aura-column--lavanda">
    <p><span class="aura-label">CONNECTA</span></p>
    <h2>Parlem-ne! Programa una consulta gratuïta</h2>
    <h3>Avança't a la IA avui mateix</h3>
  </div>
  <div class="aura-column aura-column--light aura-column--centered">
    {{ drupal_entity('webform', 'contact') }}
  </div>
</div>