{% if page.footer %}
  <footer class="footer">
    <div class="container">
      <div class="footer-container">
        {{ page.footer }}
      </div>
    </div>
  </footer>
{% endif %}

{% if scrolltotop_on %}
  <div class="scrolltop"><i class="icon-arrow-up"></i></div>
{% endif %}